@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h3 style="font-family: 'Adamina', serif;">Sacrament Meeting Planner</h3>
        <img class="w-100 padding" src="~/img/savior_02.jpg" />
        <div style="        font-family: 'Dancing Script', cursive;" class="padding">
            <h4>“Seek not to declare my word, but first seek to obtain my word, and then shall your tongue be loosed; then, if you desire, you shall have my Spirit and my word, yea, the power of God unto the convincing of men” (D&C 11:21).</h4>
        </div>
    </div>
</div>
